# Limine Configuration File
timeout: 5
verbose: yes

/JurkOS 64-bit
    protocol: bios
    mbr_id: 0x12345678
    partition: 1

/JurkOS 32-bit
    protocol: bios
    mbr_id: 0x12345678
    partition: 1
